.payment {
    width: 100%;

    .payment_container {
        width: 80%;
        margin: 1rem auto;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .payment_button {
            width: 400px;
            background-color: aliceblue;
            padding: 1rem;
            border-radius: 10px;
            margin: 0 auto;
            text-align: center;
            button {
                border: none;
                height: 40px;
                background-color: black;
                padding: 0.5rem;
                color: #fff;
                border-radius: 20px;
                width: 80%;
                margin: 1rem auto;
                font-weight: 700;
                letter-spacing: 1px;
                transition: all 0.5s ease-in-out;

                &:hover {
                    width: 90%;
                }
            }
        }
    }
}
