.product {
    width: 350px;
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;

    .product_img {
        text-align: center;
        img {
            width: 200px;
            height: 200px;
        }
    }
    h3 {
        margin-top: 15px;
    }
    .button_container {
        display: flex;
        align-items: center;
        gap: 30px;

        a {
            text-decoration: none;
            padding: 0.5rem 1rem;
            background-color: black;
            font-weight: 500;
            margin-top: 10px;
            color: #fff;
            border-radius: 20px;
        }

        button {
            border: none;
            padding: 0.5rem 1rem;
            background-color: maroon;
            font-weight: 500;
            margin-top: 10px;
            color: #fff;
            border-radius: 20px;
        }
    }
}
